@use "../../styles/partials/mixin.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/typography.scss" as *;

.auto-input {

    padding: 4px 16px;
          height: 3rem;
          color: $Primary-Black;
          font-size: 1rem;
          line-height: 1.25rem;
          font-weight: 300;
          border: 1px solid #a6abb4c2;
          background-color: #f7f8f9;
          width:19.1rem;
          margin-left: 0.4rem;
         border-radius: 0.25rem;
        font-family:"Rubik" ;
}