@use "../../styles/partials/mixin.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/typography.scss" as *;

.packagelist {
 

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

            @include tablet {
                flex-wrap: wrap;
                align-items: start;
                flex-direction: row;
                justify-content: space-evenly;
            }
    }

 
}