@use "../../styles/partials/mixin.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/typography.scss" as *;
@use "../../styles/globals.scss" as *;

.signupform {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  @include desktop {
    margin-top: 10vh;
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 22rem;
  }

  &-title {
    display: flex;
    margin-top: 30vh;
    justify-content: center;

    @include desktop {
      margin-top: 10vh;
    }
  }
}
