@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixin.scss" as *;
@use "../../styles/partials/typography.scss" as *;

.packagelist {
      padding: 1rem;
      
       &__title {
        display: flex;
        justify-content: center;
        margin: 2rem;
    }

    &__header {
        padding: 1rem;
    }
}

.chaticon {

    &__container {
position: relative;
  
    }

    &__img {
        position: fixed;
  top: 800px; 
  right: 20px; 
  z-index: 9999;
  background-color: rgba(157, 4, 14, 0.675); 
  padding: 10px;
  border-radius: 50%; 
  color: white; 
  cursor: pointer; 

  @include tablet {
    top:35rem;
    right: 3rem; 
  }
    }
}