@use "../../styles/partials/mixin.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/typography.scss" as *;



.form {
   display: flex;
   justify-content: center;
   flex-direction: column;
<<<<<<< HEAD
=======
   margin-top: 2rem;
  align-items: center;
>>>>>>> cdfe2add478870de480dc1b904a86a39b0406f20
}

#form-button {
    background-color: $Primary-Black;
    margin-left: 0.5rem;
    width:21.8rem;
}