@use "../../styles/partials/mixin.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/typography.scss" as *;
@use "../../styles/globals.scss" as *;

.signupform {
     display: flex;
  margin: 10vw;
  justify-content: center;

   @include desktop {
        margin-top: 10vh;
      }

   &__text {
    :focus {
        background-color: white;
    }
   }

   &-title {
    display: flex;
    margin-top: 30vh;
    justify-content: center;

      @include desktop {
        margin-top: 10vh;
      }
   }
}